@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.background-textura {
    background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.25) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.25) 75%, rgba(0, 0, 0, 0.25)), -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.25) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.25) 75%, rgba(0, 0, 0, 0.25));
    background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, .25) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .25) 75%, rgba(0, 0, 0, .25)), -webkit-linear-gradient(45deg, rgba(0, 0, 0, .25) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .25) 75%, rgba(0, 0, 0, .25));
    background-position: 0 0pt, 2px 2px;
    background-size: 4px 4px;
    background-color: rgba(29, 31, 39, 1);
    background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, .25) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .25) 75%, rgba(0, 0, 0, .25)), -webkit-linear-gradient(45deg, rgba(0, 0, 0, .25) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .25) 75%, rgba(0, 0, 0, .25));
    background-position: 0 0pt, 2px 2px;
    background-size: 4px 4px;
}

.center-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    max-width: 2000px;
    margin: auto;
}

main {
    min-height: calc(100vh - 150px);
    padding-top: 60px;
}

hr {
    width: 50px;
    background-color: #ddd;
    height: 5px;
    border: none;
    border-radius: 3px;
    margin: auto;
}

header {
    width: 100%;
}

nav {
    width: 100%;
    max-width: 2000px;
    height: 60px;
    position: fixed;
    top: 0;
    color: #efefef;
    font-size: 25px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    overflow: auto;
    z-index: 999;
}

nav .logo {
    width: 160px;
    height: 60px;
    float: left;
    font-size: 28px;
}

nav .logo a {
    text-decoration: none;
    color: #eee;
}

nav .logo a:hover {
    color: rgba(0, 191, 255, .8)
}

nav .icon-menu {
    float: right;
    margin: 15px 28px;
    font-size: 28px;
    cursor: pointer
}

nav .menu {
    position: absolute;
    display: none;
    text-align: center;
    width: 100%;
    margin: 50px 0 0;
}

nav .menu li {
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 10px;
}

nav .menu li a {
    padding: 8px 15px;
    text-decoration: none;
    color: #eee;
}

nav .menu li a .fa {
    display: inline;
    font-size: 22px;
    margin-right: 10px
}

nav .menu li a .fa-level-down,
nav .menu li a .fa-level-up {
    margin-left: 10px;
    font-size: 15px
}

nav .menu li a:hover {
    color: rgba(0, 191, 255, .8);
}

nav .menu .sub-menu {
    display: none;
    width: 180px;
    position: absolute;
    margin: 5px 0 0 16px;
    padding: 0 10px 0px;
    border-bottom: 1px solid #555;
}

nav .menu .sub-menu li {
    margin-top: 15px;
    display: block;
}

nav .menu .sub-menu li a {
    padding: 8px 5px;
}

footer {
    width: 100%;
    color: #eee;
}

footer span {
    margin-right: 5px;
}

footer .footer-top {
    font-size: 20px;
    padding: 15px 0 0px;
    margin: 0 auto 5px;
    color: #eee;
}

footer .footer-bottom {
    padding: 10px 0 15px;
}

footer .footer-bottom .fa {
    font-size: 15px;
}

address {
    font-style: normal;
    display: inline-block;
    margin: 0;
}

.intro {
    min-height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}

.intro figure img {
    border-radius: 50%;
    margin-bottom: 25px;
}

.mySlides {
    width: 100%;
    min-height: 450px;
}

.intro .fa-chevron-left,
.intro .fa-chevron-right {
    border: 1px solid #eee;
    padding: 12px 16px 9px;
    border-radius: 3px;
    font-size: 20px;
    cursor: pointer
}

.intro .fa-smile-o {
    font-size: 55px;
}

.intro h1,
.intro h2 {
    margin: auto;
    max-width: 600px;
    font-size: 32px;
    padding: 7px;
}

.intro p {
    font-size: 22px;
    max-width: 600px;
    margin: auto;
}

.intro .ctrl {
    margin-top: 10px;
}

.p-intro-fullstack {
    margin: 100px 0 50px;
}

.efect {
    width: 200px;
    height: 200px;
    margin: auto;
    position: relative;
    border-radius: 50%;
    background-image: url("../img/testimonials-3.jpg");
    background-size: cover
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    background-color: rgba(0, 191, 255, 0.671);
    border-radius: 50%;
}

.efect:hover .overlay {
    opacity: 1;
}

.text .fa {
    color: #fff;
    font-size: 35px;
    text-align: center;
    margin: 0 15px;
}

.negativa {
    text-decoration: line-through
}

.btn-intro {
    text-decoration: none;
    color: #eee;
    padding: 15px 27px;
    display: inline-block;
    margin-top: 25px;
    border-radius: 3px;
}

.btn-intro:active {
    color: #fff;
    opacity: 0.8;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.btn-git {
    background-color: rgba(0, 0, 0, 0.89);
}

.btn-jsfiddle {
    background-color: rgba(0, 124, 181, 1);
}

.btn-git .fa,
.btn-jsfiddle .fa {
    transform: scale(1.5);
    margin-right: 5px
}

.btn-about-me {
    background-color: orangered
}

.btn-tutoriais {
    background-color: rgb(0, 154, 206);
}

.intro-fullstack {
    margin-bottom: 120px;
}

.intro-fullstack article {
    width: 35%;
    max-width: 800px;
    display: inline-block;
    margin: 25px;
    border-bottom: 1px solid #ddd;
    padding: 60px 0;
}

.intro-fullstack article h2 {
    margin-bottom: 18px;
    border-left: 1px solid #ddd
}

.intro-fullstack article:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.intro-fullstack article:hover h2 {
    border-left: 2px solid deepskyblue;
}

.intro-fullstack .fa {
    font-size: 25px;
    color: #000;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 55px;
    height: 53px;
    border-radius: 50%;
    line-height: 52px;
    float: right;
    margin: 0 -30px 0 0;
}

.text-center {
    text-align: center;
}

.container {
    padding: 100px 40px 0;
}

.container h1,
h2 {
    margin-bottom: 15px;
}


/* Contact Page*/

.card-contact {
    max-width: 550px;
    padding: 30px 20px;
    margin: auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
    font-size: 20px
}

.card-contact img {
    float: right;
    padding: 5px;
    border: 1px solid #ccc
}

.card-contact label {
    font-weight: 700
}

.card-contact a {
    display: block;
    margin: 7px 0 10px;
    text-decoration: none;
    color: #000
}

.card-contact .fa {
    margin-right: 5px;
    background-color: rgb(0, 131, 207);
    color: #eee;
    height: 40px;
    width: 42px;
    line-height: 43px;
    border-radius: 50%;
}

.card-contact .fa-address-card-o {
    float: left;
    margin-right: 15px;
    font-size: 85px;
}

.card-contact .card-contact-title {
    display: block;
    margin-bottom: 15px;
    font-size: 30px;
    text-align: right;
    border-bottom: 3px double #ddd
}

.card-contact .telefone {
    display: block;
    margin-top: 8px
}


/* Contact Page*/


/* Tutoriais Page*/

.flex {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.h1-tutoriais {
    margin: 100px 0 -45px;
}

.box {
    margin: 10px 8px 15px;
    text-align: center;
    max-width: 400px;
    border: 1px solid #ddd;
    padding-bottom: 10px;
}

.box:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .2)
}

.box figure {
    overflow: hidden;
    height: 130px;
}

.box figure img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.box:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.box h2 {
    padding: 20px 0;
}

.box .btn-tutorial {
    border-top: 1px solid #ddd;
    padding: 12px 20px;
    margin: 20px 0 0;
}

.box .btn-tutorial:hover {
    background-color: #eee;
}

.box a {
    text-decoration: none;
    color: #111
}


/* Tutoriais Page*/


/*Meus projetos*/

.container>div {
    display: inline-block
}

.container .box h2 {
    text-align: center;
}

.container .box .text-item {
    text-align: justify;
    padding: 0 5px;
}

.container .box h3 {
    margin-top: -20px;
    margin-bottom: 30px
}


/*Meus projetos*/


/*Aboutme page*/

.about-me-page h1 {
    border-left: 3px solid deepskyblue;
    padding: 10px
}

.about-me-page h2 {
    padding: 15px
}

.tablink {
    border: 1px solid #ddd;
    border-bottom: 0;
    background: none;
    outline: none;
    cursor: pointer;
    padding: 14px 30px;
    font-size: 17px;
    background-color: #fff;
    margin: 0 -10px -1px 0;
    border-radius: 5px 5px 0 0;
    font-size: 18px;
    font-weight: 700;
}

.tablink .fa {
    transform: scale(1.5);
    margin-left: 10px
}

.tablink .fa-thumbs-o-up {
    color: rgb(17, 150, 0)
}

.tablink .fa-thumbs-o-down {
    color: rgb(255, 0, 0)
}

.tablink .fa-map-signs,
.tablink .fa-smile-o {
    color: rgb(0, 191, 255)
}

.tabcontent {
    color: #222;
    display: none;
    padding: 20px 20px 30px;
    height: 100%;
    border: 1px solid #ddd;
    margin-bottom: 50px;
    border-radius: 0 5px 5px 0;
}

.tabcontent h3 {
    font-size: 25px;
    padding: 15px 15px 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto 25px;
}

.tabcontent p {
    font-size: 20px;
    margin-top: 15px
}

.tabcontent .p-about-intro {
    max-width: 700px;
    margin: 25px auto 0
}

.tabcontent ol {
    margin-left: 20px;
    text-align: left;
    font-size: 18px;
}

.tabcontent ol li {
    margin-bottom: 8px
}


/*Aboutme page*/


/*Tutorial Page*/

.page-tutorial {
    padding: 80px 40px;
    background-color: #f5f5f5
}

.tutorial {
    width: 80%;
    min-width: 800px;
    text-align: justify;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 20px 45px 40px;
    margin: auto
}

.tutorial h1 {
    font-size: 40px;
    padding: 5px 0;
    border-radius: 5px;
    margin-bottom: 7px;
}

.tutorial p {
    margin-top: 35px;
    font-size: 18px;
    line-height: 27px;
}

.tutorial h2 {
    font-size: 28px;
}

.tutorial h3 {
    font-size: 24px;
    border-left: 3px solid rgb(0, 131, 207);
    padding: 5px 10px;
    margin-top: 40px
}

.tutorial h2,
h3,
h4,
h5,
h6 {
    margin-top: 20px
}

.tutorial p::first-letter {
    margin-left: 45px;
}

.tutorial figure {
    margin: 25px 0;
    text-align: center;
}

.tutorial img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.codigo-nome {
    margin: 25px 0 0;
    background-color: rgb(0, 131, 207);
    color: #fff;
    padding: 5px
}

.codigo {
    border: 1px solid #ccc;
    border-top: none;
    background-color: #f5f5f5;
    border-radius: 0 0 5px 5px;
    margin: 0 0 15px;
    overflow: auto
}

.codigo-linha {
    background-color: #ccc;
    color: #000;
    padding: 3px 7px 3px;
    border-left: 3px solid rgb(0, 131, 207);
    border-radius: 0 3px 3px 0
}

.complementos {
    width: 80%;
    min-width: 800px;
    padding: 40px 45px 10px;
    margin: auto;
}

.complementos a {
    display: block;
    margin: 0 10px 10px 0;
    color: #000;
    text-decoration: none;
    font-size: 18px
}

.eu {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 25px 0;
    margin-top: 50px
}

.eu .btn-more {
    color: #fff;
    padding: 10px 15px;
    border-radius: 3px;
    display: inline-block;
    font-size: 16px
}

.eu .btn-more:active {
    opacity: .8
}

.eu figure img {
    border-radius: 50%;
    margin-bottom: 10px
}

.eu figure img:hover {
    opacity: .85;
    transition: all 1s
}

.eu p {
    max-width: 470px;
    margin: 0 auto 15px;
    font-size: 20px
}

.go-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: none;
    outline: none;
    color: rgb(0, 131, 207);
    cursor: pointer;
    padding: 11px 15px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #ddd;
    font-size: 16px;
}

.go-to-top:hover {
    padding: 10px 15px 12px;
}

.tutorial-options {
    position: fixed;
    top: 150px;
    left: 25px;
    display: none
}

.tutorial-options a {
    display: block;
    text-decoration: none;
    font-size: 25px;
    color: #eee
}

.tutorial-options .fa {
    width: 50px;
    padding: 9px 0;
    margin-bottom: 2px;
    border-radius: 2px
}

.tutorial-options .fa-github {
    background-color: #000;
}

.tutorial-options .fa-play {
    background-color: rgb(0, 131, 207);
}


/*Tutorial Page*/


/*Responsive*/

@media(max-width: 800px) {
    .intro-fullstack article {
        width: auto;
        display: block;
        padding: 40px 0;
    }
    .intro-fullstack .fa {
        font-size: 25px;
        float: none;
        margin: -25px 0 25px;
    }
    .overlay {
        opacity: 1
    }
}

@media(max-width: 750px) {
    nav .menu {
        text-align: left
    }
    nav .menu li {
        display: block
    }
    nav .menu li a .fa {
        margin-right: 20px
    }
    nav .menu .sub-menu {
        position: relative;
        width: 215px;
        margin: 5px 0 0 0;
    }
    .intro-fullstack {
        display: block;
    }
    .intro-fullstack h2 .fa {
        display: inline;
    }
    .container {
        padding: 80px 4px 30px;
    }
    .container .fa-address-card-o {
        float: none;
        display: block;
        margin-bottom: 15px;
    }
}

@media(max-width: 790px) {
    .tablink {
        display: block;
        width: 100%;
    }
}

@media(max-height: 600px) {
    .mySlides {
        width: 100%;
        padding: 35px 0 35px;
    }
    .intro .fa-chevron-left {
        position: absolute;
        left: 10px;
        top: 230px;
        margin-top: - 380px;
    }
    .intro .fa-chevron-right {
        position: absolute;
        right: 10px;
        top: 230px;
        margin-top: - 380px;
    }
}

@media(max-height: 3000px) {
    .intro {
        min-height: calc(60vh);
    }
    .intro .ctrl {
        margin-top: 0px;
    }
}

@media(max-height: 1000px) {
    .intro {
        min-height: calc(100vh);
    }
}

@media(max-width: 950px) {
    .tutorial,
    .complementos {
        width: 95%;
        min-width: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
    .go-to-top {
        right: 10px;
    }
}

@media(max-width: 970px) {
    .tutorial-options {
        position: initial;
        margin-top: 40px
    }
    .tutorial-options a {
        display: inline-block
    }
}

@media(max-width: 650px) {
    .card-contact {
        padding-left: 5px;
        padding-right: 5px;
    }
    .card-contact img {
        float: none;
        margin: auto;
        display: block
    }
    .page-tutorial {
        padding-left: 10px;
        padding-right: 10px;
        background-color: #fff
    }
    .tutorial,
    .complementos {
        width: 100%;
        margin: 0;
        padding: 20px 0px;
        border: 0;
        border-radius: 0;
        min-width: 0
    }
    .go-to-top {
        background-color: rgba(255, 255, 255, .8);
        right: 10px;
    }
}


/*Responsive*/


/*Menu Open*/

.logo-menu-open {
    width: 100%;
    height: 60px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border-bottom: 1px solid rgba(0, 191, 255, .8);
}

.logo-menu-open a {
    text-decoration: none;
    color: #eee;
}

.icon-menu-open {
    margin: -45px 30px !important;
}


/*Menu Open*/


/*Animações*/

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.tada {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.flipInX {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}


/*Animações*/